<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <title>อัปโหลดไฟล์</title>
</head>

<body>
  <div class="container mt-5" style="width: 900px">
    <form action="/upload" method="POST" enctype="multipart/form-data">
      <div class="mb-3">
        <label for="formFile" class="form-label">อัปโหลดไฟล์</label>
        <input class="form-control" type="file" name="file" id="formFile" accept=".txt, .pdf, .docx, .png" />
        <br />
        <button type="submit" value="upload" class="btn btn-primary w-100">
          Upload
        </button>
      </div>
    </form>

    
    <form action="/">
      {% if json_result %}
      <div class="row py-2" style="border: 1px solid red">
        <div class="form-group col-sm-6 col-md-8" >
          <label for="Property" class="mb-3 text-center">Property</label>
          {% for item in json_result %}
          <input type="text" class="form-control w-100 mb-1" placeholder="-" value="{{item.PROPERTY}}" />
          {% endfor %}
        </div>
        <div class="form-group col-sm-6 col-md-4" >
          <label for="Result" class="mb-3">Result</label>
          {% for item in json_result %}
          <input type="text" class="form-control mb-1" placeholder="-" value="{{item.RESULT}}"/>
          {% endfor %}
        </div>
      </div>
      
      <br />
      <button type="submit" class="btn btn-primary w-100 ">Save</button>
      {% endif %}
    </form>
    
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>